---
// Define testimonials/opinions data
const humanOpinions = [
  {
    name: "Air Freight",
    role: "",
    opinion:
      "Wisebridge FZCO is recognized professional in the field of innovative Air Freight solutions",
  },
  {
    name: "Ocean Freight",
    role: "",
    opinion:
      "We are a premium supplier of Ocean Freight services throughout the Middle East, Asia and beyond",
  },
  {
    name: "Road Freight",
    role: "",
    opinion:
      "First choice for the organization and management of road freight across the Middle East",
  }
];
---

<section class="bg-nocolor">
    <div class="grid grid-cols-1 lg:grid-cols-3 text-secondary gap-6 pt-2 mt-2">
      {
        humanOpinions.map((opinion) => (
         <div>
            <p class="text-2xl block font-bold">
              {opinion.name} {opinion.role}
            </p>
            <p class="text-s leading-relaxed mt-6">
              {opinion.opinion}
            </p>
         </div>
        ))
      }
    </div>
</section>
