---
import Button from "../../components/ui/Button.astro";
---

<div class="max-w-[912px] mx-auto text-center flex flex-col justify-center p-10">
  <h1>CONTRACT LOGISTICS</h1>
    <p class="text-base lg:text-2xl text-secondary leading-relaxed mb-6 pt-6">
      Wisebridge offers bespoke contract logistics solutions to meet your specific requirements. We are equipped to handle complex supply chain needs and deliver maximum value through our Single Solution.
    </p>
    <p class="text-base lg:text-2xl text-secondary leading-relaxed mb-6">
      Our highly trained team provides value-added services, such as: data-matrix, QR codes, labeling, translation and many others region-specific requirements.
    </p>
  <div class="text-center">
    <Button href="mailto:info@wisebridge.pro" text="Connect" className="mt-2 w-full md:w-auto md:max-w-fit mx-auto md:mx-0"  />
  </div>
</div>