---
const humanOpinions = [
  {
    name: "Air Freight",
    opinion:
      "Wisebridge FZCO is recognized professional in the field of innovative Air Freight solutions",
  },
  {
    name: "Ocean Freight",
    opinion:
      "We are a premium supplier of Ocean Freight services throughout the Middle East, Asia and beyond",
  },
  {
    name: "Road Freight",
    opinion:
      "We are the first choice for the organization and management of road freight across the Middle East",
  }
];
---

<section class="bg-nocolor">
  <div class="grid md:grid-cols-3 text-black gap-6 text-center mt-16 lg:mt-28 mb-16 lg:mb-28">
      {
        humanOpinions.map((opinion) => (
        <div class="max-w-80 mx-auto">
          <h2 class="mb-4">{opinion.name}</h2>
          <p>{opinion.opinion}</p>
         </div>
        ))
      }
    </div>
</section>