---
import Button from "../../components/ui/Button.astro";
---

<section class="bg-primary">
  <div class="container mx-auto px-8 max-w-7xl text-secondary text-center">
    <h1>TRUSTED INTERNATIONAL PARTNER</h1>
    <p class="text-base text-secondary leading-relaxed mb-6 pt-6 font-[Optima]">
      Being an independent group, represented by a number of private companies operating in the United Arab Emirates, Asia, and Europe, as well as a professional fund and its managing company in Dubai. We are focused on structuring international deals, processing investment projects, providing complete business in B2B and B2C projects, delivering professional corporate services for large scale businesses.
    </p>
    <Button href="mailto:info@wisebridge.pro" text="CONNECT" className="inline-block text-white border border-white py-5 px-10 rounded transition-colors duration-200 hover:bg-nocolor hover:bg-opacity-10 hover:text-secondary mt-10" />
  </div>
</section>
