---
import Button from "../ui/Button.astro";
import Logo from "../ui/Logo.astro";


---
<section class="bg-primary">

<main>
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <h1>TRUSTED INTERNATIONAL PARTNER</h1>
  </div>
</main>
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <!-- <div class="grid grid-cols-1 lg:grid-cols-1 text-dark gap-6"> -->
      <div
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      </div>
      <p
        class="text-base lg:col-start-2 leading-relaxed "
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      Being independent group, represented by a number of private companies operating in the United Arab Emirates, Asia, and Europe, as well as a professional fund and its managing company in Dubai. We are focused on structuring international deals, processing investment projects, providing complete business in B2B and B2C projects, delivering professional corporate services for large scale businesses.
      </p>


      <div
      class="text-base lg:col-start-2 leading-relaxed underline-offset-4 "
      data-aos="fade-up"
      data-aos-duration="2500"
    >
    <Button text="CONNECT" href="mailto:info@wisebridge.pro"/>
      </div>

    <!-- </div> -->
  </div>

</section>
<style>
	main {
		margin: auto;
		padding: 1rem;
		/* max-width: 1025px; */
		height: 100%;
		max-height: 100%;
		//max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.5;
		font-family: Optima;
		font-weight: lighter;
	}
	.about {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	h1 {
		font-size: 4rem;
		font-weight: 400;
		line-height: 1;
		@media (max-width: 570px) {
			font-size: 2rem;
			line-height: 1.2;
		}
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(16ch, 1fr));
		gap: 2rem;
		padding: 40px 0;
		border-top: 1px solid white;
	}
</style>
