---


---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="flex items-center grid-cols-1 lg:grid-cols-1 text-secondary gap-6">

      <div
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      </div>

      <div
      class=" text-base lg:col-start-2 leading-relaxed underline underline-offset-4 rounded-sm flex items-center"
      data-aos="fade-up"
      data-aos-duration="2500"
    >
				<img class="rounded" style="width: 100%; height: auto;" src="/image.png">
    </div>

    <div  
    class="text-base lg:col-start-4 leading-relaxed"
    data-aos="fade-up"
    data-aos-duration="2500">
    <div class="flex flex-col items-start">
        <h3 class="text-2xl">Automatisation</h3>
        <p class="mt-6">
          Our own Warehouse Management System together with&nbsp;robotic full-fulfilment sorting solution capable to&nbsp;operate on&nbsp;<span><b>1-piece level</b></span>.
        </p>
        <p>
          <br/>
          High quality trained team provides ‘value added’ services, such&nbsp;as: <span><b>data-matrix, QRs, labeling, translation and many others regionally-specifics requirements</b></span>.
        </p>
        <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      > 
      <br/>
        <a href="/logistics">About logistics -></a
        ></p>
    </div>
</div>



  </div>
    </div>
  </div>

</section>
