@import "tailwindcss";
@theme {
  --color-primary: inherit;
  --color-secondary: #f1f0eb;

  --color-light: #e3e3e3;
  --color-dark: #4f4f4f;

  
}
/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-variant-numeric: tabular-nums;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
    
  }

@font-face {
  font-family: 'Optima';
  src: url('/path-to-font/Optima.woff2') format('woff2'),
       url('/path-to-font/Optima.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

}
