@import "tailwindcss";
@theme {
  --color-primary: inherit;
  --color-secondary: #f1f0eb;
  --color-light: #e3e3e3;
  --color-dark: #4f4f4f;
  --color-white: #fff;
  --color-black: #000;
}
/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-variant-numeric: tabular-nums;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
    
  }

@font-face {
  font-family: 'Optima';
  src: url('/path-to-font/Optima.woff2') format('woff2'),
       url('/path-to-font/Optima.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
}

main {
  margin: auto;
  height: 100%;
  max-height: 100%;
  color: white;
  font-size: 20px;
  line-height: 1.5;
  font-family: Optima;
  font-weight: lighter;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 80px;
}

@media (max-width: 570px) {
  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
}

h2 {
  font-family: Optima;
}

p {
  max-height: 100%;
  font-size: 20px;
  line-height: 1.5;
  font-family: Optima;
  font-weight: lighter;
}
