---
import Block from "../_base/Block.astro";

---

<section class="bg-primary">
  <div class="container mx-auto px-8 max-w-7xl text-secondary" style="max-width:1200px; padding: 3rem;">
    <ul style="align-items: start;"  role="list" class="mx-auto flex flex-col lg:flex-row text-between gap-6 items-center text-secondary mt-3 link-card-grid">
      <Block
      text="WISE BRIDGE BROKER SERVICES&nbsp;- FZCO"
    />
      <Block
      text="info@wisebridge.pro"
    />
    <Block
    text="DSO-IFZA, IFZA Properties, Dubai Silicon Oasis, United Arab Emirates"
  />
    </ul>
  </div>
</section>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16ch, 1fr));
    gap: 2rem;
    padding: 40px 0;
    border-top: 1px solid white;
  }
</style>
