---
import Logo from "../_ui/Logo.astro";

// Define the features array directly in the Astro component
const features = [
  {
    "url": "/logistics",
    "title": "Logistics"
  },

  // Add more features as needed...
];
---

<section class="bg-primary">
  <div class="container mx-auto px-6 max-w-7xl text-secondary">
    <Logo title={"WISE\u00A0BRIDGE"} subtitle={"Dubai\u00A0Silicon\u00A0Oasis"} where={"UAE"}/>
  </div>
</section>
