---
import AboutCompany from "@/components/base/AboutCompany.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Intro from "./main/Intro.astro";
---


<BaseLayout>
 	 <div id="trailer" class="is_overlay" style="px-8 2xl:max-w-7xl mx-auto py-6; position: relative;">
		<video id="video" width="100%" height="auto" autoplay loop muted playsinline preload="auto">
			<source src="backwall.mp4"></source>
			<!--<souwce src="bg.webm" type="video/webm"></source>-->
    	</video>
	</div>
	<main>
		<section class="bg-primary min-h-screen flex items-center">
			<div class="mx-auto max-w-7xl px-6 md:-mt-[132px]">
				<Intro />
			</div>
		</section>
		<!-- Contacts -->
		<section class="bg-black md:fixed md:bottom-0 md:left-0 md:right-0 w-full">
			<AboutCompany />
		</section>
	</main>

</BaseLayout>
