---
import Testimonials from "./logistics/Testimonials.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutCompany from "@/components/base/AboutCompany.astro";
import IntroLogistics from "./logistics/IntroLogistics.astro";
import Button from "@/components/ui/Button.astro";
---

<BaseLayout>
	<main>
		<!--about block-->
		<section class="relative bg-primary overflow-hidden w-full min-h-screen flex items-center p-0" style="min-height: 100vh; ">
			<div class="absolute inset-0 w-full h-full -z-10" style="filter: brightness(0.3)" >
				<video
					class="w-full h-full object-cover"
					autoplay
					loop
					muted
					playsinline
					preload="auto"
				>
					<source src="logistic.mp4" />
				</video>
			</div>
				<IntroLogistics />								
			</div>
			</div>
		</section>

		<section class= "bg-white text-black max-w-6xl mx-auto" style="padding-left: 32px; padding-right: 32px; padding-bottom: 32px">
		<!--features block-->

			<Testimonials/>

		<!--logistic block-->
			<div class="md:grid md:grid-cols-2 gap-12">
				<div class="order-1 md:order-2 md:col-span-1" style="padding-bottom: 64px;">
					<img class="rounded w-full md:w-auto" src="logistics.jpg" alt="Automation" />
				</div>
				<div class="order-2 md:order-1 flex flex-col items-start md:col-span-1">
					<h2 class="text-black">Automatisation solutions</h2>
					<p class="mt-6 text-black" style="font-size: 16px; line-height: 1.6">
						Our contract logistics solutions integrate seamlessly with our air, ocean and&nbsp;road freight services to&nbsp;ensure that your business needs are met in&nbsp;a&nbsp;timely and&nbsp;cost-effective manner.
					</p>
					<p class=" text-black" style="font-size: 16px; line-height: 1.6">
						Our own Warehouse Management System together with&nbsp;robotic full-fulfilment sorting solution capable to&nbsp;operate on&nbsp;1-piece level.
					</p>
					<Button href="mailto:info@wisebridge.pro" text="Connect" className="mt-4 w-full md:w-auto md:max-w-fit mx-auto md:mx-0 mb-8"  textColor="black" 
					borderColor="black" />
				</div>
			</div>
		</section>

		<!-- Contacts -->
		<section class="bg-black bottom-0 left-0 right-0 w-full">
			<AboutCompany />
		</section>
	</main>	
</BaseLayout>
