---
import Block from "../../components/ui/Block.astro";
---

<section class="bg-black">
  <div class="container text-secondary">
    <ul style="align-items: start;" role="list" class="mx-auto flex flex-col lg:flex-row text-between gap-6 items-center text-secondary mt-3 link-card-grid">
      <Block
      text="WISE BRIDGE BROKER SERVICES&nbsp;- FZCO"
    />
      <Block
      text="info@wisebridge.pro"
    />
    <Block
    text="DSO-IFZA, IFZA Properties, Dubai Silicon Oasis, United Arab Emirates"
  />
    </ul>
  </div>
</section>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16ch, 1fr));
    gap: 2rem;
    padding: 40px 0;
    border-top: 1px solid white;
    background: black;
  }
</style>
