---
interface Props {
    text: string;
    href: string;
}

const { href, text } = Astro.props;
---
<div class="button-container">
    <a class="button-connect" href={href} style="color: inherit">
        <div>
            <p>
                {text}
            </p>
        </div>
    </a>
</div>

<style>
    .button-container {
        margin: 64px 0;
        width: fit-content;
    }
    .button-connect {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .button-connect > div {
        border: 1px solid white;
        width: fit-content;
    }
    .button-connect > div > p {
        padding: 0 40px;
    }
    .button-connect > a:is(:hover, :focus-within) {
        text-decoration: underline;
    }
</style>