---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<li class="link-card">
		<p 
		set:html={text}
		class="text-gray"
		>
		</p>
</li>
<style>
	.link-card > p {
		list-style: none;
		text-align: center;
	}

</style> 