---
interface Props {
    title: string;
    subtitle: string;
    where: string;
}
---

<div class="logo absolute left-8 z-50 pt-4">
    <div>
        <img src="/wisebridge.svg" alt="Wisebridge Logo" class="logo-svg" />
    </div>
</div>
